In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import BayesianRidge , LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('kg-okitsu.csv', sep = ";",decimal=',')

In [3]:
data

     ID_REGISTRO  ID_PARCELA     Area  Lluvia_Temporada       KG
0              1           1  3696.29             324.0  11130.0
1              2           2  1469.21             324.0   3216.0
2              3           3  1529.87             324.0      NaN
3              4           4  6247.46             324.0  24366.0
4              5           5  2763.91             324.0   3031.0
..           ...         ...      ...               ...      ...
310          311          59  3768.59             259.8   6653.0
311          312          60  2499.65             259.8  13249.0
312          313          61  1349.54             259.8   6937.0
313          314          62   531.84             259.8   1389.0
314          315          63  2478.04             259.8  11668.0

[315 rows x 5 columns]

In [4]:
data.dtypes

ID_REGISTRO           int64
ID_PARCELA            int64
Area                float64
Lluvia_Temporada    float64
KG                  float64
dtype: object

In [5]:
data.isnull().sum()

ID_REGISTRO          0
ID_PARCELA           0
Area                 0
Lluvia_Temporada     0
KG                  48
dtype: int64

In [6]:
data = data.dropna()

In [7]:
data.isnull().sum()

ID_REGISTRO         0
ID_PARCELA          0
Area                0
Lluvia_Temporada    0
KG                  0
dtype: int64

In [8]:
data

     ID_REGISTRO  ID_PARCELA     Area  Lluvia_Temporada       KG
0              1           1  3696.29             324.0  11130.0
1              2           2  1469.21             324.0   3216.0
3              4           4  6247.46             324.0  24366.0
4              5           5  2763.91             324.0   3031.0
5              6           6  2715.71             324.0   9512.0
..           ...         ...      ...               ...      ...
310          311          59  3768.59             259.8   6653.0
311          312          60  2499.65             259.8  13249.0
312          313          61  1349.54             259.8   6937.0
313          314          62   531.84             259.8   1389.0
314          315          63  2478.04             259.8  11668.0

[267 rows x 5 columns]

In [9]:
x = data[['Area']]
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [10]:
x

array([[ 0.77212701],
       [-0.71885794],
       [ 2.48008365],
       [ 0.14791749],
       [ 0.11564856],
       [-0.83958522],
       [ 2.20469316],
       [-0.72275431],
       [-1.02874003],
       [ 0.19464717],
       [-0.88075153],
       [-0.06683153],
       [-1.34418549],
       [ 2.39273663],
       [-0.38505534],
       [-0.6971601 ],
       [-0.79897458],
       [ 0.0616818 ],
       [ 0.67977228],
       [-0.70550851],
       [ 3.45979362],
       [ 1.42248642],
       [ 0.08949869],
       [-0.09520408],
       [-0.6626685 ],
       [ 1.43917655],
       [-0.31439844],
       [-0.46739465],
       [-0.49298886],
       [-0.78450712],
       [-0.54528192],
       [ 0.38269064],
       [ 0.52399773],
       [ 0.61301176],
       [ 1.7462736 ],
       [ 0.51565602],
       [-0.78284012],
       [-1.07658105],
       [-0.55863135],
       [-0.54472626],
       [-0.0501414 ],
       [-0.73777744],
       [ 0.71927159],
       [-0.49521153],
       [-0.09186338],
       [-1.03151837],
       [ 0.10841818],
       [ 0.90175168],
       [-0.64320003],
       [-0.02899923],
       [ 0.77212701],
       [-0.71885794],
       [ 2.48008365],
       [ 0.14791749],
       [ 0.11564856],
       [-0.83958522],
       [ 2.20469316],
       [-0.72275431],
       [-1.02874003],
       [ 0.19464717],
       [-0.88075153],
       [-0.06683153],
       [-1.34418549],
       [ 2.39273663],
       [-0.38505534],
       [-0.6971601 ],
       [-0.79897458],
       [ 0.0616818 ],
       [ 0.67977228],
       [-0.70550851],
       [ 3.45979362],
       [ 1.42248642],
       [-0.09520408],
       [-0.6626685 ],
       [ 1.43917655],
       [-0.31439844],
       [ 0.59576596],
       [-0.46739465],
       [-0.49298886],
       [-0.78450712],
       [-0.54528192],
       [ 0.38269064],
       [ 0.52399773],
       [ 0.42886466],
       [-1.03708175],
       [ 0.61301176],
       [ 1.7462736 ],
       [ 0.51565602],
       [-0.78284012],
       [-1.07658105],
       [-0.55863135],
       [-0.54472626],
       [-0.0501414 ],
       [-0.73777744],
       [ 0.71927159],
       [-0.55974938],
       [-0.49521153],
       [-0.09186338],
       [-1.03151837],
       [ 0.10841818],
       [-0.44736382],
       [ 0.90175168],
       [-0.64320003],
       [-0.55974938],
       [ 0.8205304 ],
       [-0.02899923],
       [-0.79897458],
       [-1.34640817],
       [ 0.77212701],
       [-0.71885794],
       [ 2.48008365],
       [ 0.14791749],
       [ 0.11564856],
       [-0.83958522],
       [ 2.20469316],
       [-0.72275431],
       [-1.02874003],
       [ 0.19464717],
       [-0.88075153],
       [-0.06683153],
       [-1.34418549],
       [-0.38505534],
       [-0.6971601 ],
       [ 0.0616818 ],
       [ 0.67977228],
       [-0.70550851],
       [ 3.45979362],
       [ 1.42248642],
       [ 0.08949869],
       [-0.09520408],
       [-0.6626685 ],
       [ 1.43917655],
       [-0.31439844],
       [ 0.59576596],
       [-0.46739465],
       [-0.49298886],
       [-0.78450712],
       [-0.54528192],
       [-1.20732375],
       [ 0.38269064],
       [ 0.52399773],
       [ 0.42886466],
       [-1.03708175],
       [ 0.61301176],
       [ 0.51565602],
       [-0.78284012],
       [-1.07658105],
       [-0.55863135],
       [-0.54472626],
       [-0.0501414 ],
       [-0.73777744],
       [ 0.71927159],
       [-0.55974938],
       [-0.49521153],
       [-0.09186338],
       [-1.03151837],
       [ 0.10841818],
       [ 0.90175168],
       [-0.64320003],
       [-0.55974938],
       [ 0.8205304 ],
       [-0.02899923],
       [-1.34640817],
       [-0.04346669],
       [ 0.77212701],
       [ 2.48008365],
       [ 0.14791749],
       [ 0.11564856],
       [-0.83958522],
       [ 2.20469316],
       [-1.02874003],
       [ 0.19464717],
       [-0.88075153],
       [-0.06683153],
       [-1.34418549],
       [ 2.39273663],
       [-0.38505534],
       [-0.79897458],
       [-0.70550851],
       [ 3.45979362],
       [ 1.42248642],
       [ 0.08949869],
       [-0.09520408],
       [-0.6626685 ],
       [ 1.43917655],
       [-0.31439844],
       [ 0.59576596],
       [ 0.27809782],
       [-0.46739465],
       [-0.49298886],
       [-0.78450712],
       [-0.54528192],
       [-1.20732375],
       [ 0.38269064],
       [ 0.52399773],
       [ 0.42886466],
       [-1.03708175],
       [ 0.61301176],
       [ 0.51565602],
       [-0.78284012],
       [-0.55863135],
       [-0.54472626],
       [-0.0501414 ],
       [-0.73777744],
       [ 0.71927159],
       [-0.55974938],
       [-0.49521153],
       [-0.09186338],
       [-1.03151837],
       [ 0.10841818],
       [ 0.90175168],
       [-0.64320003],
       [-0.55974938],
       [ 0.8205304 ],
       [-0.02899923],
       [-0.79897458],
       [-1.34640817],
       [-0.04346669],
       [ 0.77212701],
       [ 2.48008365],
       [-0.83958522],
       [ 2.20469316],
       [-1.02874003],
       [ 0.19464717],
       [-0.88075153],
       [-0.06683153],
       [-1.34418549],
       [ 2.39273663],
       [-0.38505534],
       [-0.79897458],
       [-0.70550851],
       [ 3.45979362],
       [ 0.08949869],
       [-0.09520408],
       [-0.6626685 ],
       [ 1.43917655],
       [-0.31439844],
       [ 0.59576596],
       [ 0.27809782],
       [-0.46739465],
       [-0.49298886],
       [-0.78450712],
       [-0.54528192],
       [-1.20732375],
       [ 0.38269064],
       [ 0.52399773],
       [ 0.42886466],
       [-1.03708175],
       [ 0.51565602],
       [-0.78284012],
       [-0.55863135],
       [-0.54472626],
       [-0.73777744],
       [ 0.71927159],
       [-0.55974938],
       [-0.49521153],
       [-0.09186338],
       [-1.03151837],
       [ 0.10841818],
       [ 0.90175168],
       [-0.64320003],
       [-0.55974938],
       [ 0.8205304 ],
       [-0.02899923],
       [-0.79897458],
       [-1.34640817],
       [-0.04346669]])

In [11]:
y = data['KG']

In [12]:
y

0      11130.0
1       3216.0
3      24366.0
4       3031.0
5       9512.0
        ...
310     6653.0
311    13249.0
312     6937.0
313     1389.0
314    11668.0
Name: KG, Length: 267, dtype: float64

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [29]:
model=RandomForestRegressor(max_depth=6, random_state=0).fit(x_train,y_train)

In [30]:
model.score(x_test,y_test)

0.404322419119983

In [31]:
x_train.size

213

In [32]:
y_pred = model.predict(x_test)

In [33]:
df = pd.DataFrame({'Actual': y_test, 'Prediccion': y_pred})

In [34]:
df

      Actual    Prediccion
211   5481.0  10840.179307
88    1938.0   4521.063100
248   2796.0   8744.510166
9     4130.0   3088.101185
309   5294.0   4834.608504
279   9804.0   9063.575869
113  11921.0   5828.469727
109   4386.0  10887.051866
234   5638.0   5161.457547
52    7625.0   3848.403582
296   7993.0   5498.029877
73    5804.0   5129.306839
184   5557.0   7076.877397
177  11489.0  10271.827723
242   7289.0  10224.329770
16    7503.0   4330.753444
169   2664.0   5686.492213
185   7434.0   8744.510166
175   5414.0   4834.608504
69     203.0   3822.020234
231   1799.0   3831.454484
239   8656.0   5828.469727
259  33540.0  22431.910706
8     3979.0   3948.780113
157   8773.0   5638.177369
145   2608.0  12853.824457
129   1727.0  20865.786325
294   1553.0   3831.454484
176   8617.0   5828.469727
289   2266.0   5712.865739
158   3100.0   3682.912678
276  13840.0  10893.158359
288  16619.0  14232.034736
118  15134.0  12639.005052
30    7654.0   5925.439693
126  14807.0  11465.385801
244  16258.0  12639.005052
43    7246.0   5686.492213
287   9553.0   8494.475095
21   35271.0  14088.838754
215  17170.0  24450.166416
261   6516.0   3088.101185
91    5212.0   9251.647837
307  11913.0  12639.005052
213  12808.0  10893.158359
6     4069.0   3822.020234
23    8922.0  10100.915970
221   3591.0   3682.912678
78    3093.0   5239.946921
13    5279.0   2442.391697
135   2854.0   3088.101185
233   8295.0   5498.029877
77   18543.0  16703.971714
277   6700.0   4521.063100