In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('kg-okitsu.csv', sep = ";",decimal=',')

In [3]:
data

     ID_REGISTRO  ID_PARCELA     Area  Lluvia_Temporada       KG
0              1           1  3696.29             324.0  11130.0
1              2           2  1469.21             324.0   3216.0
2              3           3  1529.87             324.0      NaN
3              4           4  6247.46             324.0  24366.0
4              5           5  2763.91             324.0   3031.0
..           ...         ...      ...               ...      ...
310          311          59  3768.59             259.8   6653.0
311          312          60  2499.65             259.8  13249.0
312          313          61  1349.54             259.8   6937.0
313          314          62   531.84             259.8   1389.0
314          315          63  2478.04             259.8  11668.0

[315 rows x 5 columns]

In [4]:
data.dtypes

ID_REGISTRO           int64
ID_PARCELA            int64
Area                float64
Lluvia_Temporada    float64
KG                  float64
dtype: object

In [5]:
data.isnull().sum()

ID_REGISTRO          0
ID_PARCELA           0
Area                 0
Lluvia_Temporada     0
KG                  48
dtype: int64

In [6]:
data = data.dropna()

In [7]:
data.isnull().sum()

ID_REGISTRO         0
ID_PARCELA          0
Area                0
Lluvia_Temporada    0
KG                  0
dtype: int64

In [8]:
data

     ID_REGISTRO  ID_PARCELA     Area  Lluvia_Temporada       KG
0              1           1  3696.29             324.0  11130.0
1              2           2  1469.21             324.0   3216.0
3              4           4  6247.46             324.0  24366.0
4              5           5  2763.91             324.0   3031.0
5              6           6  2715.71             324.0   9512.0
..           ...         ...      ...               ...      ...
310          311          59  3768.59             259.8   6653.0
311          312          60  2499.65             259.8  13249.0
312          313          61  1349.54             259.8   6937.0
313          314          62   531.84             259.8   1389.0
314          315          63  2478.04             259.8  11668.0

[267 rows x 5 columns]

In [9]:
x = data[['Area', 'Lluvia_Temporada']]
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [10]:
x

array([[ 0.77212701, -0.83451173],
       [-0.71885794, -0.83451173],
       [ 2.48008365, -0.83451173],
       [ 0.14791749, -0.83451173],
       [ 0.11564856, -0.83451173],
       [-0.83958522, -0.83451173],
       [ 2.20469316, -0.83451173],
       [-0.72275431, -0.83451173],
       [-1.02874003, -0.83451173],
       [ 0.19464717, -0.83451173],
       [-0.88075153, -0.83451173],
       [-0.06683153, -0.83451173],
       [-1.34418549, -0.83451173],
       [ 2.39273663, -0.83451173],
       [-0.38505534, -0.83451173],
       [-0.6971601 , -0.83451173],
       [-0.79897458, -0.83451173],
       [ 0.0616818 , -0.83451173],
       [ 0.67977228, -0.83451173],
       [-0.70550851, -0.83451173],
       [ 3.45979362, -0.83451173],
       [ 1.42248642, -0.83451173],
       [ 0.08949869, -0.83451173],
       [-0.09520408, -0.83451173],
       [-0.6626685 , -0.83451173],
       [ 1.43917655, -0.83451173],
       [-0.31439844, -0.83451173],
       [-0.46739465, -0.83451173],
       [-0.49298886, -0.83451173],
       [-0.78450712, -0.83451173],
       [-0.54528192, -0.83451173],
       [ 0.38269064, -0.83451173],
       [ 0.52399773, -0.83451173],
       [ 0.61301176, -0.83451173],
       [ 1.7462736 , -0.83451173],
       [ 0.51565602, -0.83451173],
       [-0.78284012, -0.83451173],
       [-1.07658105, -0.83451173],
       [-0.55863135, -0.83451173],
       [-0.54472626, -0.83451173],
       [-0.0501414 , -0.83451173],
       [-0.73777744, -0.83451173],
       [ 0.71927159, -0.83451173],
       [-0.49521153, -0.83451173],
       [-0.09186338, -0.83451173],
       [-1.03151837, -0.83451173],
       [ 0.10841818, -0.83451173],
       [ 0.90175168, -0.83451173],
       [-0.64320003, -0.83451173],
       [-0.02899923, -0.83451173],
       [ 0.77212701,  1.0887093 ],
       [-0.71885794,  1.0887093 ],
       [ 2.48008365,  1.0887093 ],
       [ 0.14791749,  1.0887093 ],
       [ 0.11564856,  1.0887093 ],
       [-0.83958522,  1.0887093 ],
       [ 2.20469316,  1.0887093 ],
       [-0.72275431,  1.0887093 ],
       [-1.02874003,  1.0887093 ],
       [ 0.19464717,  1.0887093 ],
       [-0.88075153,  1.0887093 ],
       [-0.06683153,  1.0887093 ],
       [-1.34418549,  1.0887093 ],
       [ 2.39273663,  1.0887093 ],
       [-0.38505534,  1.0887093 ],
       [-0.6971601 ,  1.0887093 ],
       [-0.79897458,  1.0887093 ],
       [ 0.0616818 ,  1.0887093 ],
       [ 0.67977228,  1.0887093 ],
       [-0.70550851,  1.0887093 ],
       [ 3.45979362,  1.0887093 ],
       [ 1.42248642,  1.0887093 ],
       [-0.09520408,  1.0887093 ],
       [-0.6626685 ,  1.0887093 ],
       [ 1.43917655,  1.0887093 ],
       [-0.31439844,  1.0887093 ],
       [ 0.59576596,  1.0887093 ],
       [-0.46739465,  1.0887093 ],
       [-0.49298886,  1.0887093 ],
       [-0.78450712,  1.0887093 ],
       [-0.54528192,  1.0887093 ],
       [ 0.38269064,  1.0887093 ],
       [ 0.52399773,  1.0887093 ],
       [ 0.42886466,  1.0887093 ],
       [-1.03708175,  1.0887093 ],
       [ 0.61301176,  1.0887093 ],
       [ 1.7462736 ,  1.0887093 ],
       [ 0.51565602,  1.0887093 ],
       [-0.78284012,  1.0887093 ],
       [-1.07658105,  1.0887093 ],
       [-0.55863135,  1.0887093 ],
       [-0.54472626,  1.0887093 ],
       [-0.0501414 ,  1.0887093 ],
       [-0.73777744,  1.0887093 ],
       [ 0.71927159,  1.0887093 ],
       [-0.55974938,  1.0887093 ],
       [-0.49521153,  1.0887093 ],
       [-0.09186338,  1.0887093 ],
       [-1.03151837,  1.0887093 ],
       [ 0.10841818,  1.0887093 ],
       [-0.44736382,  1.0887093 ],
       [ 0.90175168,  1.0887093 ],
       [-0.64320003,  1.0887093 ],
       [-0.55974938,  1.0887093 ],
       [ 0.8205304 ,  1.0887093 ],
       [-0.02899923,  1.0887093 ],
       [-0.79897458,  1.0887093 ],
       [-1.34640817,  1.0887093 ],
       [ 0.77212701, -0.21771229],
       [-0.71885794, -0.21771229],
       [ 2.48008365, -0.21771229],
       [ 0.14791749, -0.21771229],
       [ 0.11564856, -0.21771229],
       [-0.83958522, -0.21771229],
       [ 2.20469316, -0.21771229],
       [-0.72275431, -0.21771229],
       [-1.02874003, -0.21771229],
       [ 0.19464717, -0.21771229],
       [-0.88075153, -0.21771229],
       [-0.06683153, -0.21771229],
       [-1.34418549, -0.21771229],
       [-0.38505534, -0.21771229],
       [-0.6971601 , -0.21771229],
       [ 0.0616818 , -0.21771229],
       [ 0.67977228, -0.21771229],
       [-0.70550851, -0.21771229],
       [ 3.45979362, -0.21771229],
       [ 1.42248642, -0.21771229],
       [ 0.08949869, -0.21771229],
       [-0.09520408, -0.21771229],
       [-0.6626685 , -0.21771229],
       [ 1.43917655, -0.21771229],
       [-0.31439844, -0.21771229],
       [ 0.59576596, -0.21771229],
       [-0.46739465, -0.21771229],
       [-0.49298886, -0.21771229],
       [-0.78450712, -0.21771229],
       [-0.54528192, -0.21771229],
       [-1.20732375, -0.21771229],
       [ 0.38269064, -0.21771229],
       [ 0.52399773, -0.21771229],
       [ 0.42886466, -0.21771229],
       [-1.03708175, -0.21771229],
       [ 0.61301176, -0.21771229],
       [ 0.51565602, -0.21771229],
       [-0.78284012, -0.21771229],
       [-1.07658105, -0.21771229],
       [-0.55863135, -0.21771229],
       [-0.54472626, -0.21771229],
       [-0.0501414 , -0.21771229],
       [-0.73777744, -0.21771229],
       [ 0.71927159, -0.21771229],
       [-0.55974938, -0.21771229],
       [-0.49521153, -0.21771229],
       [-0.09186338, -0.21771229],
       [-1.03151837, -0.21771229],
       [ 0.10841818, -0.21771229],
       [ 0.90175168, -0.21771229],
       [-0.64320003, -0.21771229],
       [-0.55974938, -0.21771229],
       [ 0.8205304 , -0.21771229],
       [-0.02899923, -0.21771229],
       [-1.34640817, -0.21771229],
       [-0.04346669, -0.21771229],
       [ 0.77212701,  1.09748312],
       [ 2.48008365,  1.09748312],
       [ 0.14791749,  1.09748312],
       [ 0.11564856,  1.09748312],
       [-0.83958522,  1.09748312],
       [ 2.20469316,  1.09748312],
       [-1.02874003,  1.09748312],
       [ 0.19464717,  1.09748312],
       [-0.88075153,  1.09748312],
       [-0.06683153,  1.09748312],
       [-1.34418549,  1.09748312],
       [ 2.39273663,  1.09748312],
       [-0.38505534,  1.09748312],
       [-0.79897458,  1.09748312],
       [-0.70550851,  1.09748312],
       [ 3.45979362,  1.09748312],
       [ 1.42248642,  1.09748312],
       [ 0.08949869,  1.09748312],
       [-0.09520408,  1.09748312],
       [-0.6626685 ,  1.09748312],
       [ 1.43917655,  1.09748312],
       [-0.31439844,  1.09748312],
       [ 0.59576596,  1.09748312],
       [ 0.27809782,  1.09748312],
       [-0.46739465,  1.09748312],
       [-0.49298886,  1.09748312],
       [-0.78450712,  1.09748312],
       [-0.54528192,  1.09748312],
       [-1.20732375,  1.09748312],
       [ 0.38269064,  1.09748312],
       [ 0.52399773,  1.09748312],
       [ 0.42886466,  1.09748312],
       [-1.03708175,  1.09748312],
       [ 0.61301176,  1.09748312],
       [ 0.51565602,  1.09748312],
       [-0.78284012,  1.09748312],
       [-0.55863135,  1.09748312],
       [-0.54472626,  1.09748312],
       [-0.0501414 ,  1.09748312],
       [-0.73777744,  1.09748312],
       [ 0.71927159,  1.09748312],
       [-0.55974938,  1.09748312],
       [-0.49521153,  1.09748312],
       [-0.09186338,  1.09748312],
       [-1.03151837,  1.09748312],
       [ 0.10841818,  1.09748312],
       [ 0.90175168,  1.09748312],
       [-0.64320003,  1.09748312],
       [-0.55974938,  1.09748312],
       [ 0.8205304 ,  1.09748312],
       [-0.02899923,  1.09748312],
       [-0.79897458,  1.09748312],
       [-1.34640817,  1.09748312],
       [-0.04346669,  1.09748312],
       [ 0.77212701, -1.39779088],
       [ 2.48008365, -1.39779088],
       [-0.83958522, -1.39779088],
       [ 2.20469316, -1.39779088],
       [-1.02874003, -1.39779088],
       [ 0.19464717, -1.39779088],
       [-0.88075153, -1.39779088],
       [-0.06683153, -1.39779088],
       [-1.34418549, -1.39779088],
       [ 2.39273663, -1.39779088],
       [-0.38505534, -1.39779088],
       [-0.79897458, -1.39779088],
       [-0.70550851, -1.39779088],
       [ 3.45979362, -1.39779088],
       [ 0.08949869, -1.39779088],
       [-0.09520408, -1.39779088],
       [-0.6626685 , -1.39779088],
       [ 1.43917655, -1.39779088],
       [-0.31439844, -1.39779088],
       [ 0.59576596, -1.39779088],
       [ 0.27809782, -1.39779088],
       [-0.46739465, -1.39779088],
       [-0.49298886, -1.39779088],
       [-0.78450712, -1.39779088],
       [-0.54528192, -1.39779088],
       [-1.20732375, -1.39779088],
       [ 0.38269064, -1.39779088],
       [ 0.52399773, -1.39779088],
       [ 0.42886466, -1.39779088],
       [-1.03708175, -1.39779088],
       [ 0.51565602, -1.39779088],
       [-0.78284012, -1.39779088],
       [-0.55863135, -1.39779088],
       [-0.54472626, -1.39779088],
       [-0.73777744, -1.39779088],
       [ 0.71927159, -1.39779088],
       [-0.55974938, -1.39779088],
       [-0.49521153, -1.39779088],
       [-0.09186338, -1.39779088],
       [-1.03151837, -1.39779088],
       [ 0.10841818, -1.39779088],
       [ 0.90175168, -1.39779088],
       [-0.64320003, -1.39779088],
       [-0.55974938, -1.39779088],
       [ 0.8205304 , -1.39779088],
       [-0.02899923, -1.39779088],
       [-0.79897458, -1.39779088],
       [-1.34640817, -1.39779088],
       [-0.04346669, -1.39779088]])

In [11]:
y = data[['KG']]

In [12]:
y

          KG
0    11130.0
1     3216.0
3    24366.0
4     3031.0
5     9512.0
..       ...
310   6653.0
311  13249.0
312   6937.0
313   1389.0
314  11668.0

[267 rows x 1 columns]

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=0)

In [18]:
model=svm.SVR(kernel="poly",gamma= "auto").fit(x_train,y_train.values.ravel())

In [19]:
model.score(x_test,y_test)*100

-2.832944749006483